[submodule "cliniscientia"]
	path = cliniscientia
	url = git@github.com:ishanlearnsprog/cliniscientia.git
[submodule "cliniscientia-api"]
	path = cliniscientia-api
	url = git@github.com:ishanlearnsprog/cliniscientia-api.git
[submodule "ishanlearnsprog"]
	path = ishanlearnsprog
	url = git@github.com:ishanlearnsprog/ishanlearnsprog.git
[submodule "mental-maths"]
	path = mental-maths
	url = git@github.com:ishanlearnsprog/mental-maths.git
[submodule "my-bash-scripts"]
	path = my-bash-scripts
	url = git@github.com:ishanlearnsprog/my-bash-scripts.git
[submodule "my-web-apps-150"]
	path = my-web-apps-150
	url = git@github.com:ishanlearnsprog/my-web-apps-150.git
[submodule "musicd"]
	path = musicd
	url = git@github.com:ishanlearnsprog/musicd.git
[submodule "tag"]
	path = tag
	url = git@github.com:ishanlearnsprog/tag.git
[submodule "job-finder"]
	path = job-finder
	url = git@github.com:ishanlearnsprog/job-finder.git
